    /* global  */
    .bg-main {
        background-color: rgb(255, 140, 0);
    }

    /* login screen  */
    .form-login {
        width: 35%;
        height: 60%;
        background-color: white;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }



    /* feedback screen */
    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(4);
        }

        100% {
            transform: scale(1);
        }
    }

    /* Thêm hiệu ứng CSS vào ảnh khi được chọn */
    .selected {
        animation: pulse 0.6s ease;
    }

    /* Thêm hiệu ứng CSS vào ảnh khi được chọn */
    .selectedBtn {
        animation: pulseBtn 1s ease;
    }

    /* Tạo một class mới để loại bỏ hiệu ứng sau 1s */
    .reset-animation {
        animation: none !important;
    }

    .bg-orange {
        background-color: rgb(255, 140, 0);
    }

    .border-radius {
        border-radius: 20px;
    }

    .avatar {
        margin: 5px 5px 0px 0px;
        right: 0%;
        position: absolute;
        display: flex;
        align-items: center
    }

    .avatarImg {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 10px;
        border: 1px solid white;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 5px 0px 0px 10px;
    }

    .tip-button {
        position: absolute;
        width: 5%;
        top: 0;
        right: 0;
    }

    .team-avatar {
        border-radius: 20px 0px 0px 20px;
        width: 100%;
        height: 100%;
    }

    .team-name {
        position: absolute;
        width: 60%;
        height: 10%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 28px;
        font-weight: bold;
        background-color: rgb(255, 140, 0);
        border-radius: 20px;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px 0px;
    }

    @media (max-width: 1180px) {
        .team-avatar {
            border-radius: 20px 0px 0px 20px;
            width: 101%;
        }

        .team-name {
            position: absolute;
            width: 60%;
            height: 10%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: 28px;
            font-weight: bold;
            background-color: rgb(255, 140, 0);
            border-radius: 20px;
            text-align: center;
            margin-bottom: 10px;
            padding: 5px 0px;
        }
    }



    .font-size-20 {
        font-size: 20px;
    }

    .score {
        position: absolute;
        bottom: 0;
        font-size: 30px;
        font-weight: bold;
    }

    @keyframes fadeMoveUp {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.3);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes pulseBtn {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(6);
        }

        100% {
            transform: scale(1);
        }
    }
