:root {
  --white-shade-1: #ffffff;
  --white-shade-2: #d0d0d0;
  --white-rgba: rgba(255, 255, 255, 0.12);
}

main {
  background: #e0ef8a;
  background: linear-gradient(
    45deg,
    rgba(224, 239, 138, 1) 0%,
    rgba(214, 167, 176, 1) 50%,
    rgba(132, 143, 234, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "poppins", sans-serif;
  min-height: 100vh;
}

.card-box {
  height: 420px;
  width: 700px;
  position: relative;
}

.card-box .front,
.back {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white-rgba);
  border: 2px solid var(--white-rgba);
  backdrop-filter: blur(8px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 1s;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-box .front {
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.card-box .front img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 10px solid var(--white-rgba);
}

.card-box .details {
  text-align: center;
}

.card-box h2 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--white-shade-1);
}

.card-box span {
  font-size: 14px;
  color: var(--white-shade-2);
}

.card-box .back {
  justify-content: space-around;
  transform: rotateY(180deg);
}

.card-box .icon,
.emoji-table {
  display: grid;
  place-items: center;
  height: 65px;
  width: 65px;
  background-color: var(--white-rgba);
  font-size: 25px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--white-shade-1);
  position: relative;
}

.card-box:hover .back {
  transform: rotateY(0deg);
}

.card-box:hover .front {
  transform: rotateY(-180deg);
}

.card-box .emoji {
  width: 100%;
}

.card-box .emoji span {
  font-size: inherit;
}

.card-box .emoji .notification-badge {
  position: absolute;
  right: -15px;
  top: -15px;
  font-size: 18px;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 0.25rem;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-4 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.back .icon {
  width: 15px;
  height: 15px;
  font-size: 20px;
}

.back .emoji .notification-badge {
  font-size: 10px;
  top: -9px;
  right: -15px;
}

#container-rain-emoji {
  left: 0px;
  top: -100px;
  height: calc(100vh + 100px);
  overflow: hidden;
  position: relative;
}

#animate {
  margin: 0 auto;
  width: 20px;
  overflow: visible;
  position: relative;
}

#all {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
}
